html, body {
  height: 100%;
  font-family: sans-serif;
}

.loading .wrapper {
  display: none;
}

.loading #loader-wrapper {
  height: 100%;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-wrapper {
  display: none;
}

.loader {
  width: 40px;
  height: 40px;
  background-color: #66228d;
  animation: rotate .5s ease-in-out infinite;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clicker-button {
  font-size: 1.4em;
  width: 300px;
  padding: 15px;
  border: 0;
  text-transform: uppercase;
  color: white;
  background-color: #923dc4;
  border-bottom: 6px solid #66228d;
  outline: 0;
}

#clicker-button:hover {
  cursor: pointer;
}

#clicker-button:active {
  border-bottom: 4px solid #66228d;
  margin-top: 2px;
}

#clicker-counter {
  font-weight: bold;
}

@keyframes rotate {
  100% {
    transform: rotate(90deg);
  }
}
